
@{
    Layout = null;
}

<a href="/DefaultController1/Urunler/">Ürünler Sayfası </a>
<a href="/DefaultController1/Musteriler/">Müşteri Sayfası </a>
<h1>Merhaba Core Oop Projesi </h1>
<h3>Dersler Başlıyor. </h3>

<h1>Mesaj Listesi</h1>
<h1>------------------------------</h1>
<h2>@ViewBag.m1</h2>
<h3>@ViewBag.m2</h3>
<h4>@ViewBag.m3</h4>

<h5>@ViewBag.v</h5>// parametre gösterimi
<h6>@ViewBag.u</h6>

<h1>Sonuc:@ViewBag.g</h1>
<h1>Sonuc:@ViewBag.faktor</h1>

    
